#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
